<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>

<body>
    <ul id="cupcakes-list"></ul>
    <form action="" id="new-cupcake-form">
        <label for="form-flavor">Flavor: </label>
        <input name="flavor" id="form-flavor"> <br>
        <label for="form-size">Size: </label>
        <input name="size" id="form-size"> <br>
        <label for="form-rating">Rating: </label>
        <input type="number" name="rating" id="form-rating"> <br>
        <label for="form-image">Image: </label>
        <input name="image" id="form-image"><br>
        <button>Add Cupcake!</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/cupcake.js"></script>
</body>

</html>